---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---
<DefaultLayout
  title="idioticdev"
  description="The human representation of the ID10T error."
>
  <h1>The idiotic dev</h1>
  <i class="lead">The human representation of the ID10T error.</i>
  <h2>Projects</h2>
  <dl>
    <dt><a href="https://letters.idiotic.dev">Letters</a></dt>
    <dd>Love Letters to the code I adore.</dd>
  </dl>
</DefaultLayout>
